.my__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #141518;
  color: #cccccc;
}

.my__footer p {
  text-align: center;
}

.my__footer p:first-child {
  font-size: 1.3rem;
}

.my__footer p:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my__footer__btn {
  background-color: #141518;
  border-color: #141518;
}

.my__footer__btn:hover,
.my__footer__btn:focus {
  background-color: #141518;
  border-color: #141518;
}
