footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: #141518;
  color: #cccccc;
}

footer p {
  text-align: center;
}

footer p:first-child {
  font-size: 1.3rem;
}

footer p:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
