.my__navbar {
  height: 8vh;
  background: linear-gradient(#475058, #343a40);
  z-index: 11;
}

.my__navbar__house {
  width: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}
