li a span {
  color: blue;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

#mapCol {
  margin-top: 1vh;
  border: 3px solid #343a40;
  width: 100%;
  min-height: 30vh;
  padding-left: 0;
  padding-right: 0;
}

.selectedRow {
  background-color: burlywood !important;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.row-content {
  padding: 0 1vw;
}

.row-content h1 {
  text-align: center;
}

.row-content h5 {
  text-align: center;
  font-family: "Fira Sans", serif;
  font-style: italic;
}

.row-content h4 {
  text-align: center;
  font-family: "Fira Sans", serif;
}

.row-content button {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.my__star {
  width: 2em;
}

.my-vertical-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
