.my__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my__card {
  height: 30vh;
  margin-top: 50px;
  box-shadow: 0px 0px 20px #020c0c;
  transition: transform 450ms;
  max-width: 15vw;
}

.my__card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.my__star {
  width: 2em;
}

.my__row__pagination {
  margin-top: 50px;
}

.my__nav__link__card:hover {
  color: black;
}

.my__search__buttons {
  background-color: #475058;
  border: 1px solid #343a40;
  color: #fff;
}

.my__search__buttons:hover {
  background-color: #343a40;
  border: 1px solid #475058;
}
.my__search__buttons:focus {
  background-color: #343a40;
  border: 1px solid #475058;
}

.my__div__filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#my__transition__div {
  position: absolute;
  top: -17vh;
  right: 25vw;
  width: 50vw;
  height: 15vh;
  z-index: 10;
  background-color: rgb(225, 233, 233);
  box-shadow: 0px 0px 10px black;
}

.my__transition__div__move {
  transform: translateY(17vh);
  transition: transform 450ms;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  content: " ";
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 774px) {
  .my__card {
    min-width: 50vw;
  }
}
