.card2 {
  min-width: 20%;
  min-height: 90%;
  height: 100%;
  width: 20%;
  background: linear-gradient(rgb(114, 188, 218), rgb(59, 126, 138));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  transition: transform 450ms;
  border-radius: 10px;
  box-shadow: 15px 15px 25px rgb(13, 41, 46);
  border-bottom: 3px solid rgb(42, 103, 114);
  border-right: 3px solid rgb(42, 103, 114);
  color: rgb(17, 30, 37);
}

.card2:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card2-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card2-title > p:first-child {
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: 500;
}

.card2-title > p:nth-child(2) {
  margin-right: 10px;
}
