.my__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my__card {
  height: 30vh;
  margin-top: 50px;
  box-shadow: 0px 0px 20px #020c0c;
  transition: transform 450ms;
  max-width: 15vw;
}

.my__card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.my__star {
  width: 2em;
}

.my__row__pagination {
  margin-top: 50px;
}

.my__nav__link__card:hover {
  color: black;
}

.my__search__buttons {
  background-color: #475058;
  border: 1px solid #343a40;
  color: #fff;
}

.my__search__buttons:hover {
  background-color: #343a40;
  border: 1px solid #475058;
}
.my__search__buttons:focus {
  background-color: #343a40;
  border: 1px solid #475058;
}

.my__div__filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 774px) {
  .my__card {
    min-width: 50vw;
  }
}
